.gridItem {
  background-color: #ececec !important;
  border-radius: 16px !important;
  margin-top: 10px !important;
  margin-left: 10px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
  height: 300px !important;
  padding: 20px !important;
}

img {
  width: 600px !important;
}

.oneArticle:hover {
  cursor: pointer !important;
  opacity: 0.7 !important;
}

.buttonClose {
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  top: 0 !important;
  right: -50px !important;
  z-index: 10 !important;
  background-color: #fff !important;
}

.buttonClose:hover {
  opacity: 0.7;
}
